body{
    padding: 0;
    margin: 0   ;
    background-color: #060C1A;
    font-family: "Inter", sans-serif;
   
}


.content{
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 1024px;
    margin: 0 auto;
}
#submit{
    background-color: inherit;
    color: inherit;
    border: 0 solid;
}
#search{
    
    background-color: inherit;
    border: 0px solid;
    width: 50%;
    color: #FFFFFF;
    padding-left: 20px;
}

#search:focus{
    outline: none;
}
#search:active{
    outline: none;
}
#search:any-link{
    outline: none;
}




.search{
    margin: 0 auto;
    display: flex;
    border:2px solid #000000;   
    width: 65%;
    height: 35px;
    border-radius: 50px 50px 50px 50px;
}

.search-icon{
    align-self: center;
    height: 25px;
    width:25px;
    padding-left: 10px;
}



.weather-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 500px;
    height: 280px;
    border-radius: 30px;
    background-color: #0E1421;
    color: #FFFFFF;
    padding: 29px 29px 27px 27px;

}
.left{
    display:flex;
    flex-direction: column;
}
#country{
    max-width: 80px;
    font-size: 12px;
    display: flex;
    gap: 7px;
    color: #FFFFFF;
    font-size:14px;
    display: inline-flex;
    padding-left: 5%;
    align-items: center;
    background-color: #742BEC;
    height: 35px;
    border-radius: 20px;
    font-weight: 300;
}
#country > i{
font-size:14px;

}

.date-day{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#time{
    font-size: 40px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 0;
}
#date{
    margin-top: 0;
    font-size: 16px;
    font-weight: 300;
}
#temp{
    font-weight: 400;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#temp-f{
   display: none;
}


.right{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
}

#weather-icon{
    height: 120px;
    width: 160px;
    padding: 0;
    margin: 0;
}

#temp-metric{
    display: block;
    height: 35px;
    min-width: 88px;
    border-radius: 20px;
    border: 0 solid;

    
}
#desc{
    font-size: 32px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0;
}

#desc-p{
    margin-top: 0;
    font-size: 14px;
    font-weight: 200;
}